<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication1.NoActionBar"
        tools:ignore="AllowBackup">
        <activity android:name=".BMICalculator"
            android:parentActivityName=".BMI"
            android:label="BMI Calculator"/>
        <activity android:name=".BMIResult"
            android:parentActivityName=".BMI"
            android:label="BMICalculator"/>
        <activity
            android:name=".ToDoList"
            android:parentActivityName=".Calendar"/>
        <activity
            android:name=".Timetable.AddCourseActivity"
            android:parentActivityName=".Timetable.Timetable" />
        <activity android:name=".Notebook_UpdateNotesActivity" />
        <activity android:name=".Notebook_AddNotesActivity" />
        <activity android:name=".DeleteAccount" />
        <activity android:name=".HeaderActivity" />
        <activity android:name=".ResetPage" />
        <activity android:name=".ForgotPasswordPage" />
        <activity android:name=".RegistrationPage" />
        <activity android:name=".BMI" />
        <activity android:name=".Timetable.Timetable" />
        <activity android:name=".Calendar" />
        <activity android:name=".WaterTracker" />
        <activity android:name=".Notebook" />
        <activity android:name=".Homepage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Timetable.ReminderBroadcast" />
    </application>

</manifest>